@import 'src/styles/variables.scss';

.input {
  background: $primary-background-color;
  border-radius: 25px;

  max-width: 512px;
  width: 100%;
  height: 30px;
  padding: 5px 15px;

  display: flex;

  input {
    height: 100%;
    width: 100%;

    background-color: transparent;
    border: none;
    outline: none;
  }
}
